*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

.navbar-collapse{
    gap: 2rem !important;
}
.navbar-text{
  text-decoration: none !important;
  color: black !important;
}
a{
  text-decoration:  none !important;
}
.section3{
    text-align: center;
    font-size: 30px;
}
.container-home{
    --bs-gutter-x: 2rem !important;
    --bs-gutter-y: 0 !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 45px !important;
  }
  .container-home2{
    --bs-gutter-x: 2rem !important;
    --bs-gutter-y: 0 !important;
    width: 100% !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
.rounded_circle{
    background-color: #f3f3f3;
    border-radius: 50%;
}
.w-70{
    width: 80%;
}
.youtube-img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px ;
}
.set2-card2, .set2-card4{
    margin-top: 100px !important;
}
.set2-card1, .set2-card3{
    height: 177.600px ;
}
.flex-container{
    display: flex;
    flex-direction: row;
    gap: 20px ;
    width: 1444px;
}
.form-name{
    flex-basis: 1200px;
}
.padding-bottom{
    padding-top: 2rem !important;
    padding-bottom: 5rem !important;
}
.Clientele-logo{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}
.logo-sizing{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
/*footer*/
.Company{
    flex-basis: 250px !important;
} 
.social-media{
    flex-basis: 400px !important;
}
.services{
    flex-basis: 350px !important;
}
.services, .Company, .get-in-touch{
    border-left: 1px solid white;
    padding-left: 20px !important ;
}
.footer-headings{
  font-size: 30px !important;
}
.footer-content{
  font-size: 20px !important;
  color: white !important;
  font-weight: 2000 !important;
}
.footer-content2{
  font-size: 15px !important;
  color: white !important;
  font-weight: 2000 !important;
}
.footer-content3{
  font-size: 10px !important;
  color: white !important;
  font-weight: 2000 !important;
}
.footer-block{
  display: block !important;
}
.footer-content2-space{
  font-size: 15px !important;
  color: white !important;
  font-weight: 2000 !important;
  line-height: 25px;
  margin-top: 20px !important;
}
.footer-bg{
  background-image: linear-gradient(to bottom right, #040507, #0C153B);
}
/*carousel*/
.carousel-caption{
    position: absolute !important;
    top: 20% !important;
    left: 3% !important;
}
.carousel-text1{
    font-size: 4vw !important;
    width: 70% !important;
}
.carousel-div{
    width: 50% !important;
}
.carousel-div2{
    width: 40% !important;
}
.carousel-btn{
    position: absolute;
    left: 20%;
    background-color: #83b735 !important;
}
.div3{
    width: 30% !important;
}
.card1:hover{
    transform: scale(1.1);
    background-color: #a1da4d !important;
    transition: transform .5s;
  }
  .card1-onlycolor:hover{
    background-color: #a1da4d !important;
    transition: transform .5s;
  }
  .reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .reveal.active{
    transform: translateY(0px);
    opacity: 1;
  }
  .revealx{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease;
  }
  .revealx.active{
    transform: translateX(0px);
    opacity: 1;
  }
  .slider-container{
    min-height: 100vh;
    margin: 0;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .slider{
    position: relative;
    width: 100%;
    height: 370px;
    overflow: hidden;
  }
  .item{
    position: absolute;
    width: 200px;
    height: 320px;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50%-110px);
    top: 0;
  }
 
  /*WEbsite Development*/
  .WDbgcolor{
    background-image: linear-gradient(to bottom right,rgb(204, 204, 252),#fff);
  }
  .paddHeader{
    padding-left: 100px !important;
  }
  .herosecicon1{
    float: left;
    margin-right: 20px;
  }
  .herotextpad{
    padding-top: 2%;
  }
  .number-circle{
    height: 30px !important;
    width: 25px !important;
    border-radius: 50% !important;
    display: inline-block !important;
  }
  .circle-bg1{
    background-color:rgb(90, 160, 203);
  }
  .circle-bg2{
   background-color: palevioletred;
  }
  .circle-bg3{
    background-color: rgb(142, 142, 206);
   }
   .circle-bg4{
    background-color: rgb(239, 193, 107);
   }
   .circle-bg5{
    background-color: rgb(47, 47, 136) ;
   }
   .circle-bg6{
    background-color:  rgb(203, 163, 88);
   }
  .name{
    display: inline-block;
  }
  .border{
    border-radius: 0% !important;
  }
  .card3{
    border-radius: 10% !important;
    flex-basis: 400px !important;
    background-color: rgb(228, 227, 227) !important;
  }
  .gap{
    --bs-gutter-x:5rem !important;
  }
  .img-circle{
    position: relative;
    margin-left: 40px;
    margin-top: -45px;
    width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    background-image: linear-gradient(rgb(172, 211, 90),rgb(28, 150, 28));
  }
  .imgposition{
    position: absolute;
    left: 23%;
    top:23%;
  }
.img-msg{
    float: left !important;
    display: inline-block;
    position: relative;
    top: 60px;
    left: 40px;
}
.company-name{
    display: inline-block !important;
    border-left: transparent !important;
    position: relative;
    left: 50px;
    top: 63px;
    width: 500px !important;
    border-top: transparent !important;
    border-right: transparent !important;
}
.ellipse{
    display: flex !important;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 100px 100px 0px 100px;
}

.btn-clr{
    display: flex;
    position: relative;
    top: 110px;
    right: 50px;
    background-color: #83b735 !important;
    border: transparent !important;
    padding: 0 !important;
    width: 100px;
    border-radius: 0% !important;
}
.ellipse-bg{
    background-color: #b0d52f;
}
.my-5{
    margin-bottom: 7rem !important;
}
.mar-bottom{
    margin-bottom: 5rem !important;
}
.mar-top{
    margin-top: 9rem !important;
}
.btn-form{
    background-color: #83b735 !important;
    border: transparent !important;
}
/*Software Development*/
.number-circle2{
    height: 30px !important;
    width: 30px !important;
    border-radius: 50% !important;
    display: inline-block !important;
  }
.Clientele-logo-gap{
    gap: 30px !important;
    justify-content: space-around !important;
}
.logoWidth{
    width: 75% !important;
    height: 70% !important;
    padding-left: 20px !important;
}
.logoNames{
    padding: 0 !important;
    margin: 0 !important;
}
.logoWidth2{
    padding-left: 30px !important;
    
    margin-left: 0 !important;
    width: 72% !important;
    height: 60% !important;
}
.logoWidth3{
    padding-left: 40px !important;
    padding-bottom: 10px !important;
    margin-left: 0 !important;
    width: 72% !important;
    height: 65% !important;
}
.logoWidth4{
    width: 85% !important;
    height: 80% !important;
    
}
.Clientele-logo2{
        display: flex;
        flex-direction: row;
        padding-top: 50px;
}
.Clientele-logo-gap2{
    gap: 35px !important;
    justify-content: space-around !important;
}
.logoWidth5{
    width: 60% !important;
    height: 70% !important;
    margin-right: 0 !important;
}
.logoWidth6{
  height: 110px !important;
}
/*Cloud Services*/
.ansiblelogo{
    width: 110px !important;
    height: 110px !important;
}
.bullet-flex{
    display: flex;
}
.bullet{
margin-top: 28px;
margin-right: 15px;
}
.img-circle-cloud{
  margin-left: 10px !important;
  margin-top: 10px !important;
  width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    background-image: linear-gradient(rgb(172, 211, 90),rgb(28, 150, 28));
}
.imgposition-cloud{
  position: relative;
  top: 17px !important;
  left: 20px !important;
}
/*ui/ux*/
.container-Ux{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-Ux2{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 92% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
/*digital marketing*/
.gap-DM{
  gap: 20rem !important;
}
.photo{
  background-size: cover !important;
  transform: scale(1,1) !important;
  margin-left: 35% !important;
    margin-top: -100px !important;
   width: 150px !important;
   height: 150px !important;
    border-radius: 50% !important;
    background-size: cover !important;
}
.photocard-bgcolor{
  background-color: #eee !important;
}
.bg-v-green-l{
  background-color: #9ce231 !important;
}
.card2-DM, .card4-DM{
  margin-top: 80px !important;
}
.img-circle-DM{
  margin-left: 35% !important;
  margin-top: 10px !important;
  width: 90px !important;
    height: 90px !important;
    border-radius: 50% !important;
    background-image: linear-gradient(rgb(172, 211, 90),rgb(28, 150, 28));
}
.imgposition-DM{
  position: relative;
  top: 17px !important;
  left: 20px !important;
}
.btn-header{
  background-color: #83b735 !important;
  border: transparent !important;
  color: black !important;
}
.DM-hero-large{
  font-size: 40px !important;
  font-family: Nunito sans !important;
  color: #6c757d !important;
  padding-bottom: 10px !important;
}
.DM-hero-small{
  font-size: 15px !important;
  font-family: Nunito sans !important;
  color: #6c757d !important;
  padding-bottom: 10px !important;
}
.DM-jumb-large{
  font-size: 35px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
  padding-bottom: 10px !important;
}
.DM-jumb-small{
  font-size: 20px !important;
  font-family: Nunito sans !important;
  color: #6c757d !important;
}
.DM-jumb-small2{
  font-size: 16px !important;
  font-family: Nunito sans !important;
  color: #6c757d !important;
  padding-bottom: 20px !important;
}
.DM-jumb3-small{
  font-size: 20px !important;
  font-family: Nunito sans !important;
  color: #6c757d !important;
  padding-bottom: 20px !important;
}
.DM-card-heading{
  font-size: 20px !important;
  font-family: Nunito sans !important;
  font-weight: 200 !important;
}
.DM-card-content{
  font-size: 15px !important;
  font-family: Nunito sans !important;
  font-weight: 200 !important;
  
}
.DM-card-content-grey{
  font-size: 15px !important;
  font-family: Nunito sans !important;
  font-weight: 200 !important;
  color: gray !important;
}
.text-DM-white{

    font-size: 35px !important;
    line-height: 100px !important;
    font-family: Nunito sans !important;
  color: white !important;
}
.DM-card-heading2{
  font-size: 18px !important;
  font-family: Nunito sans !important;
  font-weight: 200 !important;
}
.DM-card-content2{
  font-size: 16px !important;
  font-family: Nunito sans !important;
  font-weight: 200 !important;
  
}
.DM-jumb-large-white{
  font-size: 35px !important;
  font-family: Nunito sans !important;
  color: white!important;
  padding-bottom: 10px !important;
}
.jumb-btn {
  background-color: white !important;
  color: black !important;
  border-color: white !important;
  padding: 5px !important;
  font-size: 18px !important;
}
.container-Ux-DM{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.DM-card-size{
  height: 280px !important;
  width: 600px !important;
}
.px-DM-5{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.p-DM-5{
  padding-left: 3rem !important;
  padding-right: 3rem !important;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.px-card-DM-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.p-DM-x{
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}
@media(max-width:750px){
  .container-Ux-DM{
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 0 !important;
    width: 90% !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .mar-DM-top{
    margin-top: 20px !important;
    padding-left: 0 !important;
  }
  .mar-DM-bottom{
    margin-bottom: 0 !important;
  }
  .DM-left-pad{
    padding-left: 0 !important;
  }
  .DM-btn-padd{
    width: 120px !important;
  }
  .phone-DM-card{
    width: 200px !important;
  }
  .DM-card-size{
    height: 200px !important;
    width: 330px !important;
    padding-left: 0 !important;
  }
  .px-DM-5{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .services, .Company, .get-in-touch{
    border-left: 0 !important ;
    padding-left: 20px !important ;
}
  .gap-DM{
    gap: 7rem !important;
  }
  .photo{
    margin-left: 25% !important;
  }
  .p-DM-5{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .card-btw{
    gap: 2rem !important;
  }
  .px-card-DM-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .phone-margin{
    margin-top: 80px !important;
  }
  .p-DM-x{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .img-fluid-DM {
    padding-left: 0px !important;
    max-width: 130%;
    height: auto;
   
  }
  .start-Margin-DM {
    margin-top: 20px !important;
  }
  .DM-phone-btnPad{
    margin-bottom: 20px !important;
  }
  .laptop-img{
    padding-left: 0 !important;
  }
  .laptop-size{
    height: 900px
  }
  .lapton-pad{
    padding-left: 0 !important;
  }
}
/*Enterprise SEO*/
.gap-SEO{
  --bs-gutter-x:8rem !important;
}
.mar-bottom-SEO{
  margin-bottom: 4rem !important;
}
.bullet-SEO{
  margin-top: 2px;
  margin-right: 15px;
  }
  .img-circle-SEO{
    margin-left: 35% !important;
    margin-top: 10px !important;
    width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
      background-image: linear-gradient(rgb(172, 211, 90),rgb(28, 150, 28));
  }
  .imgposition-SEO{
    position: relative;
    top: 22px !important;
    left: 25px !important;
  }
  .SEO-card-size{
    height: 230px !important;
    width: 350px !important;
  }
  .px-SEO-5{
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  .SEO-jumb-large{
    font-size: 35px !important;
    font-family: Nunito sans !important;
    
  }
  .SEO-head-large{
    font-size: 33px !important;
    font-family: Nunito sans !important;
  }
  .SEO-head-small{
    font-size: 18px !important;
    font-family: Nunito sans !important;
    color: #6c757d!important;
  }
  .SEO-head-medium{
    font-size: 17px !important;
    font-family: Nunito sans !important;
    padding-bottom: 25px !important;
  }
  .SEO-head-medium-color
  {
    color: #6c757d!important;
  }
  
  .SEO-jumb-small{
    font-size: 20px !important;
    font-family: Nunito sans !important;
    color: #6c757d!important;
    padding-bottom: 25px !important;
  }
  .SEO-card-heading{
    font-size: 18px !important;
    font-family: Nunito sans !important;
    font-weight: 200 !important;
  }
  .SEO-card-content-grey{
    font-size: 15px !important;
    font-family: Nunito sans !important;
    font-weight: 200 !important;
  }
  .SEO-card2-size2{
    height: 300px !important;
  }
 .SEO-card2-size{
  height: 300px !important
}
.container-Ux-DM{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-Ux-SEO{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-Ux-SEO-hero{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.container-Ux2-SEO{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 92% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.pb-SEO-5{
  padding-bottom: 3rem !important;
}
.pt-SEO-5{
  padding-top: 3rem !important;
}
.card2-SEO, .card4-SEO{
  margin-top: 80px !important;
}
.py-SEO-5{
   padding-top: 3rem !important;
   padding-bottom: 3rem !important;
}
.bullet-SEO-size{
  height: 20px;
  width: 35px !important;
}
@media(max-width:750px){
  .px-SEO-5{
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .SEO-card-size{
    height: 210px !important;
    width: 280px !important;
  }

  .phone-SEO-gap{
    gap: 2rem !important;
  }
  .pt-SEO-5{
    padding-top: 0rem !important;
  }
  .pb-SEO-5{
    padding-bottom: 0rem !important;
  }
  .SEO-card2-size2{
    height: 300px !important;
    width: 310px !important;
  }
 .SEO-card2-size{
  height: 300px !important;
  width: 310px !important;
}
.SEO-card2-padding{
  padding-left: 20px !important;
}
.phone-SEO-gap2{
  padding-bottom: 2rem !important;
}
.card2-SEO, .card4-SEO{
  margin-top: 0px !important;
}
.container-Ux2-SEO{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 70% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.card1-left-padd{
  padding-left: 20px !important;
  padding-right: 0 !important;
}
.bullet-SEO-size{
  height: 15px;
  width: 15x !important;
}
.hero1-SEO-pad{
  padding: 0px !important;
}
.hero1-SEO-pad2{
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.hero2-SEO-pad{
  padding-left: 10px !important;
}
.width-adjust{
margin-right: 0px !important;
margin-left: 0px !important;
}
.container-Ux-SEO{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 90% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.SEO-margin-phone{
  margin-left: 20px !important;
}
.SEO-padding-jumb{
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 20px !important;
}
.container-Ux-SEO-hero{
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}
.py-SEO-5{
  padding-top: 0rem !important;
  padding-bottom: 3rem !important;
}
}
  /*social media*/
  .img-circle-SM{
    margin-left: 2% !important;
    margin-top: 15px !important;
    width: 100px !important;
      height: 100px !important;
      border-radius: 50% !important;
      background-image: linear-gradient(rgb(172, 211, 90),rgb(28, 150, 28));
  }
  .imgposition-SM{
    position: relative;
    top: 22px !important;
    left: 25px !important;
  }
 /*contact*/
 .contact-btn{
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  width: 150px !important;
 }
 .contact-hero-large{
  font-size: 40px !important;
 }
 .contact-hero-small{
  font-size: 18px !important;
  letter-spacing: normal !;
  margin-top: 30px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
 }
 .contact-message{
  font-size: 16px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
 }
 .container-Ux-about{
  --bs-gutter-x: 1.5rem !important;
  --bs-gutter-y: 0 !important;
  width: 85% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

 @media(max-width:750px){
  .paddHeader{
    padding-left: 0 !important;
  }
  .container-Ux-about{
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    width: 100% !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .phone-padding{
    padding: 20px !important;
  }
  .phone-address-padding{
    padding-left: 0 !important;
  }
 .footer-headings-size{
  width: 180px !important;
 }
 .footer-content-size{
  height: 50px !important;
 }
 .footer-content2-phone{
  font-size: 18px !important ;
 }
 .footer-content3-phone{
  padding-bottom: 20px !important;;
 }

 }
 /*About*/
 .img-margin{
  margin-top: 150px !important;
 }
 .img-margin2{
  margin-bottom: 100px !important;
 }
 .gap-left{
  padding-left: 0 !important;
  margin-left: 0 !important;
 }
 .card-gap-about{
  gap: 13px;
 }

 .container-Ux3{
  --bs-gutter-x: 2rem !important;
  --bs-gutter-y: 0 !important;
  width: 92% !important;
  padding-right: calc(var(--bs-gutter-x) * .5) !important;
  padding-left: calc(var(--bs-gutter-x) * .5) !important;
  margin-right: auto !important;
  margin-left: 80px !important;
}
.cardBg{
  background-color: rgb(235, 235, 250);
}
.container-Ux4{
  --bs-gutter-x: 2rem !important;
  --bs-gutter-y: 0 !important;
  width: 100% !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin-right: 0 !important;
  margin-left:0!important;
}
.paddHeader-about{
  padding-left:80px !important;
}
.about-heroTextSmall{
  font-size: 18px !important;
  color: white;
  font-family: Nunito sans !important;
  color: #6c757d!important;
 }
 .about-heroTextLarge{
   font-size: 50px !important;
   line-height: 80px;
   font-family: Nunito sans !important;
   color: #6c757d!important;
 }
 .about-heroTextMedium{
   font-size: 28px !important;
   font-family: Nunito sans !important;
   color: #6c757d!important;
 }
 .about-heroTextSmall-btn{
   background-color:transparent !important;
   color: white !important;
   border-color: white !important;
   font-family: Nunito sans !important;
   color: #6c757d!important;
 }
.photoTextLarge{
  font-size: 35px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.photoTextSmall{
  font-size: 18px !important;
  color: grey;
  opacity: 1 !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.photoTextMedium{
  color: black !important;
  text-decoration: none !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.jumbTextLarge{
  font-family: Nunito sans !important;
  color: #6c757d!important;
  font-size: 35px !important;
}
.jumbTextSmall{
  font-size: 18px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.cardTextLarge{
  font-size: 15px !important;
  margin-bottom: 20px !important;
}
.cardTextSmall{
  font-size: 12px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.color-v-green-l{
  color: #9ce231 !important;
}
.color-v-green-l-foot{
  color: #4ed528 !important;
}
.about-jumbTextSmall-btn{
  color: black !important;
  border-color: white !important;
  background-color: white !important;
 padding-left: 0 !important;
 padding-right: 0 !important;
 font-size: 15px !important;
}
.jumbTextMedium{
  font-size: 35px !important;
  line-height: 100px !important;
  font-family: Nunito sans !important;
  color: #6c757d!important;
}
.container-bg-img{
  background-image: url(./images/carasolslide3.png);
}
@media(max-width:750px) {
  *{
   
    margin: 0 !important;
    box-sizing: border-box !important;
  }
  .container-Ux4{
    --bs-gutter-x: 1.5rem !important;
    --bs-gutter-y: 0 !important;
    width: 85% !important;
    padding-right: calc(var(--bs-gutter-x) * .5) !important;
    padding-left: calc(var(--bs-gutter-x) * .5) !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}